@charset "UTF-8";




@font-face{
font-family:'android';
src:url(../fontes/idroid.otf) format('opentype');
font-weight: normal;
}


:root {
--cor0:#c5ebd6;
--cor1:#83e1ad;
--cor2:#3ddc84;
--cor3:#2fa866;
--cor4:#1a5c37;
--cor5:#063d1e;
--cor6:#005726;

--font-padrao:arial,verdana,helvetica,sans-serif;
--font-destaque: 'bebas neue', 'android';
--font-android: 'android';

}

* {
    margin:0px ;
    padding:0px
}


body{
    background-image: linear-gradient(180deg, var(--cor6), var(--cor0), var(--cor2));
    font-family: var(--font-padrao);
}

header{
    background-image: linear-gradient(180deg, var(--cor5), var(--cor2));
    background-color: var(--cor4);
    min-height: 100px;
    text-align: center;
    padding: 30px;
    margin:auto;
    text-shadow:7px 4px 2px rgba(33, 33, 33, 0.426);

}
header > h1 {
    color:white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size:3em;
    font-weight: bold;
    transition-duration: 2s;
}

header > p {
    color:white;
    font-family: var(--font-padrao);
    font-size:1.2em;
    max-width: 600px;
    margin:auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow:7px 4px 5px rgba(33, 33, 33, 0.426);
    font-weight: bold;
    transition-duration: 2s;
}

nav{
    background-color: var(--cor2);
    padding: 10px;
    box-shadow:0px 4px 2px rgba(33, 33, 33, 0.426);

}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius:10px;
    font-weight: bold;
    transition-duration: 2s;
}
main{
    background-color: white;
    min-width: 320px;
    max-width: 855px;
    margin:auto;
    margin-bottom: 20px;
    border-radius: 0px  0px  2%  2%;
    box-shadow: 0px 0px 10px rgba(0, 63, 0, 0.515);
    padding:5px;
    font-size:1.2em;
    line-height:1.5em;
}

main h1 {
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    border-radius: 7px;
}

main h2{
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    border-radius: 7px;
}

main p{
    margin:15px 0px;
    text-align:justify;
    text-indent: 30px;

}

main a {
    text-decoration:none;
    font-weight: bold;
    color: var(--cor2)
}
main a:hover {
    color: var(--cor4)
}


main img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px
}
main img pequena{
    width:100%;
}

aside{
    background-color:var(--cor1);
    padding: 10px;
    border-radius: 10px 10px 30px 30px;
}
aside > ul{
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size:0.5em;
    padding: 5px
}

footer a {
    color: whitesmoke;
    font-weight: 100;
    text-decoration: none;
}


iframe{
    margin: auto;
    width: 100%;
    border-radius: 10px;
}
h3{
    font-family: var(--font-android);
    background-image: linear-gradient(90deg, var(--cor2), transparent);
    border-radius: 7px;
}
